
.app{
  font-family: 'Helvetica';
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
}

.h1{
  font-weight: bold;
}

  .midRow {
    flex:1;
    display:flex;
    flex-wrap:wrap;
    padding: 100px;
    justify-content: space-around;
  }
  
    .watermelonBox {
      flex: 1;
      order: 1;
      align-items: flex-end;
      padding: 50px;
      flex-basis: 30%;
      background-image: url(./img/bg.jpg);
    }

    .formBox {
      flex: 1;
      order: 2;
      padding: 50px;
      flex-basis: 30%;
      background-color: #F5F5F5;
    }

      .steptab {
        padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
      }

      input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #F1F1F1;
        resize: vertical;
        -webkit-transition-duration: 0.5s; 
        transition-duration: 0.5s;
      }

        input[type=text]:focus {
          border: 3px solid  #008CBA;
        }

      .button {
        background-color: #439757;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px 34px;
        font-weight: bold;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
      }

        .button:hover {
          background-color: #008CBA;
        }



/* swiper */

.swiper-container {
  flex: 1;
  flex-basis: 600px;
  height: 300px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}